#!/usr/bin/env bash

# add ~/bin to path
PATH=/usr/bin:/bin:/usr/sbin:/sbin
export PATH
PATH=/usr/local/bin:/usr/local/sbin:"$PATH"
PATH=/opt/local/bin:/opt/local/sbin:"$PATH"

# prefer US English & utf-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty)

# brew
PATH=$PATH:/opt/homebrew/bin

# configure ruby
source /opt/homebrew/opt/chruby/share/chruby/chruby.sh
source /opt/homebrew/opt/chruby/share/chruby/auto.sh

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# npm global
export NPM_PACKAGES="/usr/local/npm_packages"
export NODE_PATH="$NPM_PACKAGES/lib/node_modules:$NODE_PATH"
export PATH="$NPM_PACKAGES/bin:$PATH"

# yarn
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --smart-case --glob "!.git/*" --glob "!node_modules/*"'

# z
. ~/z.sh

# depot tools
export PATH=$PATH:$HOME/depot_tools

# android
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH=$ANDROID_HOME/emulator
export PATH=$PATH=$ANDROID_HOME/tools
export PATH=$PATH=$ANDROID_HOME/tools/bin
export PATH=$PATH=$ANDROID_HOME/platform-tools

# ripgrep
export RIPGREP_CONFIG_PATH=$HOME/.rgrc

# conda
export PATH="/usr/local/miniconda3/bin:$PATH"

# linux utils
export PATH="/usr/local/opt/util-linux/bin:$PATH"
export PATH="/usr/local/opt/util-linux/sbin:$PATH"

# pyenv
export PYENV_SHELL=zsh
command pyenv rehash 2>/dev/null

# direnv
eval "$(direnv hook zsh)"
